body {
  margin: 0;
  padding: 0;
}



.main {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.typo {
    color: #000000 !important;
font-weight: 700 !important;
font-size: 40px !important;
line-height: 49px !important;
letter-spacing: 0em !important;
text-align: left;
  }
  .pp {
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 500 !important;
    font-size: 18px !important;
  }